.time-off(ng-controller='TimeOffCtrl')
  #dbg7.calendar-item.office-hour.time-off(ng-repeat='off in time_off' ng-style='off.style')
    .name.time-off-label(ng-repeat='label in off.labels' ng-style='label.style') {{ off.data.reason }}