.left.mrm
  .left.mrm
    #calendar-day-current.button(ng-click='goToCurrentTime()' ng-disabled='View.onCurrentTime') Current Time
  .button-group.left
      #calendar-day-prev.button(ng-click='goToPrevDay()') &#8592; {{prevDay}}
      #calendar-day-next.button(ng-click='goToNextDay()') {{nextDay}} &#8594;
