.right.button-group
  #calendar-day-zoom-out.button(ng-click='View.zoomOut()' ng-disabled='View.zoom <= View.zoomMinLevel') - zoom
  #calendar-day-zoom-in.button(ng-click='View.zoomIn()' ng-disabled='View.zoom >= View.zoomMaxLevel') + zoom
