.page-title.left-pad(ng-if='!Pros.hasLoadError' pointer)
  h1 Calendar
  .page-controls
    .button-group.left.mrs(ng-if='View.view && !View.readOnlyProvider')
      #calendar-view-month.button.small(ng-class='{active: View.view == View.MONTH}' ng-click='View.update(View.MONTH)') Month
      #calendar-view-week.button.small(ng-class='{active: View.view == View.WEEK}' ng-click='View.update(View.WEEK)') Week
      #calendar-view-day.button.small(ng-class='{active: View.view == View.HORIZONTAL_DAY || View.view == View.VERTICAL_DAY}' ng-click='View.update(View.HORIZONTAL_DAY)') Day
    a.left.has-icon.button.buttonlink.subtle(href='#/calendar-setup' ng-if='showSettings && !View.readOnlyProvider')
      i.ki.gear 
      span Calendar Settings

scrollbar-width-measure

.grid-12(ng-if='Pros.hasLoadError')
  .grid-6.offset-left-3.mtl.mbl
    .grid-12.panel.warning.has-icon.pbl
        i.ki.attention
        .grid-12.mbl
          h3 Looks like we're having trouble connecting to your Kareo account.
          h4.nm Here are some things you can do to try to fix the problem:
          ul.alt-list
            li Try refreshing your web browser.
            li Try logging out of Kareo and logging back in.
            li
              | Check your internet connection, if it's down then the Kareo EHR won't be able to work.
            li If all else fails, take a break and try again later.
        .grid-12.mbl
          h4.mbs You can also check out the Kareo Help Center
          a(href="http://www.kareo.com/help/ehr", target="_blank") View Kareo EHR Help Center &rarr;
        .grid-12
          | We apologize for any inconvenience.

.calendar.grid-12.wrapper(ng-class='{vertical: View.type == View.VERTICAL}')
  .loading.big-load(ng-if='!Pros.hasLoaded && !Pros.hasLoadError')
    .loading-content.mt1
      .primary.spinner
      .loading-message Loading Calendar...

  .grid-12.container.full(ng-if='Pros.hasLoaded && !Pros.hasLoadError')

    .grid-2.calendar-filter
      include ../include/calendar/filter

    .grid-10.calendar
      .panel.warning(ng-if='!Pros.ready && !Pros.hasLoadError') Please select a provider
      .canvas(ng-controller='CanvasCtrl' ng-if='Pros.ready && !Pros.hasLoadError')
        include ../include/calendar/canvas
        include ../include/calendar/month-view
